{{~#each this~}}
    {{~#unless hidden~}}
    <li clinic-id="{{~id~}}">
        <div class="detail-24-clinic" id="detail-list">
            {{~name~}}
        </div>
        <div class="clinic-number">
            <i class="fa fa-phone"></i>
            {{~telephone~}}
        </div>
        <div class="clinic-address">
            {{~address~}}
        </div>
    </li>
{{/unless}}
{{~/each}}