{{~#each results~}}
    {{~#unless hidden~}}
    <li clinic-id="{{id}}">
        <div class="detail-24-clinic">
            {{~name~}}
            <button id="clinic-button" class="view-24">거리뷰</button>
            <button id="clinic-button" class="view-24">길찾기</button>
            <i class="fa fa-phone"></i>
                {{~telephone~}}
        </div>
        <div class="clinic-address">
            {{~address~}}
        </div>
    </li>
{{/unless}}
{{~/each}}