<div class="search-select">
    <div id="search-location-city" class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="dropdown-title">{{area}}</span><span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">{{name}}</a></li>
        </ul>
    </div>
    <div id="search-location-gu" class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="dropdown-title">{{borough}}</span><span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>{{gu}}</li>
        </ul>
    </div>
</div>
