<header>
    <ul class="header-menu">
        <li>
            <div id="search-clinic" class="header-menu-name">
                병원찾기
            </div>
        </li>
        <li>
            <div class="header-menu-name">
                자랑하기
            </div>
        </li>
        <li>
            <div class="header-menu-name">
                동물카페정보
            </div>
        </li>
        <li>
            <div class="header-menu-name">
                커뮤니티
            </div>
        </li>
        <li>
            <div id="sign-in" class="header-menu-name">
                로그인
            </div>
        </li>
        <li>
            <div id="sign-up" class="header-menu-name">
                회원가입
            </div>
        </li>
    </ul>
</header>