<header>
    <ul class="header-logo">
        <li>
            <div id="index" class="fa fa-paw"></div>
        </li>
    </ul>
    <ul class="header-menu">
        <li>
            <div id="contact" class="header-menu-name">
                애니멀고?
            </div>
        </li>
        <li>
            <div id="veterinary-clinic" class="header-menu-name">
                병원찾기
            </div>
        </li>
        <li>
            <div id="searchcafe" class="header-menu-name">
                동물카페정보
            </div>
        </li>
        <li>
            <div id="community" class="header-menu-name">
                커뮤니티
            </div>
        </li>
        <li>
            <div id="member-join" class="header-menu-name">
                회원가입
            </div>
        </li>
        <li>
            <div id="member-layout" class="fa fa-bars"></div>
        </li>
    </ul>
</header>