<header>
    <ul class="header-menu">
        <li>
            <div id="veterinary-clinic" class="header-menu-name">
                병원찾기
            </div>
        </li>
        <li>
            <div id="showoff" class="header-menu-name">
                자랑하기
            </div>
        </li>
        <li>
            <div id="searchcafe" class="header-menu-name">
                동물카페정보
            </div>
        </li>
        <li>
            <div id="community" class="header-menu-name">
                커뮤니티
            </div>
        </li>
        <li>
            <div id="member-login" class="header-menu-name">
                로그인
            </div>
        </li>
        <li>
            <div id="member-join" class="header-menu-name">
                회원가입
            </div>
        </li>
    </ul>
</header>