<div class="header-sub">
    <div class="main-menu">
        {{#if login}}
        <div class="member-user">
            <h1 class="member-title">ANIMAL GO USER</h1>
            <div class="member-user-icon">
                <div class="member-user-icon-img"></div>
                <div class="member-user-name">{{nickname}}</div>
                <div class="member-user-email">{{email}}</div>
            </div>
            <ul class="member-user-page">
                <li>내 정보 수정</li>
                <li id="drop-out">회원 탈퇴</li>
                <li id="member-user-logout-btn">LOGOUT</li>
            </ul>
        </div>
        {{else}}
        <div class="member-login">
            <div class="member-form">
                <h2 class="member-title">
                    LOGIN
                </h2>
                <div class="member-title-memo">
                    animalGO에 오신것을 환영합니다.<br>
                    고객님께서 설정하신 아이디와 비밀번호를 입력해주세요.
                </div>
                <div class="sign-in-form">
                    <div class="member-form-group">
                        <div class="text-input">아이디</div>
                        <input type="email" id="member-email" placeholder="아이디를 입력해주세요.">
                        <i class="fa fa-fw fa-envelope-o"></i>
                    </div>
                    <div class="member-form-group">
                        <div class="text-input">비밀번호</div>
                        <input type="password" id="member-password" placeholder="비밀번호를 입력해주세요.">
                        <i class="fa fa-fw fa-lock"></i>
                    </div>
                    <div class="sns-login">
                        <!--카카오톡, 페이스북 로그인 버튼 추가-->
                        <button id="member-login-btn" class="btn btn-outline-success btn-sm member-btn">로그인</button>
                        <button id="custom-login-btn" class="btn btn-outline-success btn-sm member-btn">카카오톡<br>로그인</button>
                        <button id="fb-login-btn" class="btn btn-outline-success btn-sm member-btn">페이스북<br>로그인</button>
                        <!--<label class="login-auto">
                            <input type="checkbox">
                            자동로그인
                        </label>-->
                    </div>
                </div>
            </div>
            <!--<div class="member-note-margin member-note">
                <div class="login-note">
                    <i class="login-icon fa fa-user"></i>
                    <div class="login-notice">아이디를 잊어버리셨나요?<br>고객님의 아이디를 찾아드립니다.</div>
                    <button class="btn btn-outline-success id-btn">아이디 찾기</button>
                </div>
            </div>
            <div class="member-note">
                <div class="login-note">
                    <i class="login-icon fa fa-lock"></i>
                    <div class="login-notice">비밀번호를 잊어버리셨나요?<br>고객님의 비밀번호를 찾아드립니다.</div>
                    <button class="btn btn-outline-success id-btn">비밀번호 찾기</button>
                </div>
            </div>-->
            <div class="member-note">
                <div class="login-note">
                    <i class="login-icon fa fa-paw"></i>
                    <div class="login-notice">animalGo에 회원가입하시고<br>다양한 혜택을 누리세요.</div>
                    <button class="btn btn-outline-success id-btn toggle-btn">회원가입</button>
                </div>
            </div>
        </div>
        <div class="member-join">
            <h2 class="member-title">
                JOIN AnimalGO
            </h2>
            <div class="member-title-memo">
                애니멀고의 회원이 되시면<br>동물건강에 대한 정보는 물론
                다른 이용자와의 정보교환 등 <br>다양한 활동을 하실 수 있습니다.
            </div>
            <div class="join-form">
                <div class="sign-up-form">
                    <div class="join-form-group">
                        <div class="text-input">아이디</div>
                        <input type="email" id="member-join-email" placeholder="아이디로 사용할 이메일주소">
                        <!--<div class="join-id">*사용가능한 아이디 입니다</div>-->
                    </div>
                    <div class="join-form-group">
                        <div class="text-input">닉네임</div>
                        <input type="text" id="member-join-nickname" placeholder="사용할 닉네임">
                    </div>
                    <div class="join-form-group">
                        <div class="text-input">비밀번호</div>
                        <input type="password" id="member-join-password" placeholder="비밀번호를 입력하세요">
                        <div class="join-pw">*숫자,영어 조합의 8~12글자*</div>
                    </div>
                    <div class="join-form-group">
                        <div class="text-input">비밀번호 확인</div>
                        <input type="password" id="member-join-pw-check" placeholder="다시 한번 비밀번호를 입력하세요">
                    </div>
                </div>
                <div class="sign-up-btns join-btn-container">
                    <div class="join-text agree-text">약관보기
                        <label>
                            <input id="agree" type="checkbox">
                            약관동의
                        </label>
                    </div>
                    <button id="member-join-btn" class="join-btn btn btn-outline-success">JOIN</button>
                </div>
                <div class="sign-up-btns">
                    <div class="join-text">이미 애니멀고의 회원이신가요?</div>
                    <button class="join-btn toggle-btn btn btn-outline-success">LOGIN</button>
                </div>
            </div>
            <!--<div class="sign-up-sns">
                <div class="sign-up-sns-text">sns로 로그인하기</div>
                <ul class="sign-up-sns-btns">
                    <li>
                        <button class="btn btn-outline-success" id="kakao">KAKAO TALK</button>
                    </li>
                    <li><button class="btn btn-outline-success" id="google">GOOGLE</button></li>
                </ul>
            </div>-->
        </div>
        {{/if}}
    </div>
</div>