{{~#each this~}}
<div class="story-tt">
    {{title}}
</div>
<div class="story-writer">{{nickname}}</div>
<div class="show-off-date">{{dateDT}}</div>
<div class="story-cont">{{cont}}</div>
{{~/each~}}