@import 'common.less';
@import 'caferesult.less';

.notice {
  font-size: 14px;
  padding: 20px 0 0 100px;
}

.result-detail {
  margin: 50px auto;
  width: 60%;
  height: 400px;
}

.result-detail-list-clinic {
  height: 100%;
}

.result-detail-list-clinic > li {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
}

.highlight {
  color:#97e5fd;
  font-size: 14px;
}