@import 'common.less';

.community {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 500px;
  padding: 150px 0 0 10px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  vertical-align: top;
  span {
    display: none;
    font-size: 15px;
    color: transparent;
    font-weight: bold;
  }
}

.infoTip {
  background-color: #92a1fd;
}

.showoff {
  background-color: #47cafd;
}

.infoTip:hover {
  background-image: url('../img/commu_infoTip.jpg');
  background-size: cover;
  span {
    display: inline;
    color: #fff;
  }
}

.showoff:hover {
  background-image: url('../img/commu_showoff.jpg');
  background-size: cover;
  span {
    display: inline;
    color: #fff;
  }
}