@font-color: #333;

body {
  color: @font-color;
  font-family: 'NanumGothic';
}

@header-height: 80px;

header {
  position: relative;
  height: @header-height;
  width: 100%;
  min-width: 1000px;
  background-color: rgb(211, 233, 231);
  z-index: 1000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu {
  position: absolute;
  top: 0px;
  right: 90px;
}

.header-menu > li {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.header-menu-name {
  line-height: @header-height;
  padding: 0 30px;
}