@font-color: #333;
@main-color: rgb(211, 233, 231);
@main-bgcolor: #d9dde3;

body {
  position: relative;
  min-width: 1000px;
  min-height: 100%;
  margin-top: 80px;
  color: @font-color;
  font-family: 'NanumGothic';
}

@header-height: 80px;

header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: @header-height;
  width: 100%;
  background-color: #D3E9E7;
  z-index: 1000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-menu {
  position: relative;
  display: inline-block;
  margin-left: 890px;
}

.header-menu > li {
  display: inline-block;
  line-height: @header-height;
  font-size: 20px;
  font-weight: bold;
}

.header-menu-name {
  padding: 0 18px;
  cursor: pointer;
}

.header-menu-name:hover {
  color: #adc3c1;
}

.main-size {
  width: 1000px;
  margin: 0px auto;
}

.foot-cont{
  background-color: @main-bgcolor;
  width: 100%;
  text-align: center;
}

.foot-btn {
  display: inline-block;
  width: 572px;
  margin: 100px auto;
}

.top-menu {
  min-width: 1000px;
  height: 64px;
  background-color: rgb(211, 233, 231);
  text-align: right;
}

.top-menu > li {
  display: inline-block;
  padding: 20px 20px;
  font-size: 18px;
  font-weight: bold;
}

.top-menu > li:last-child {
  padding-right: 100px;
}

.photo-slide {
  width: 100%;
  height: 230px;
  background-color: rgb(107, 179, 227);
}

.pet-like-title {
  font-size: 28px;
  font-weight: bold;
  padding: 15px 0px 0px 10px;
  border-bottom: solid 1px #aaa;
  line-height: 28px;
}
.pet-like-title > span {
  font-size: 15px;
  font-weight: bold;
  color: rgb(127, 127, 127);
}


