@import 'common.less';

.contact-input {
  position: relative;
  height: 100%;
  width: 1000px;
  margin: 40px auto;
}

.contact-input-form {
  position: relative;
  width: 50%;
}

.form-group > input {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  border: solid 1px #ccc;
}

.form-group > input:active,
.form-group > input:focus {
  outline: none;
  border-color: @footer-bg-color;
}

#contact-input-info-text {
  height: 100px;
  width: 100%;
  padding: 6px 12px;
  border: solid 1px #ccc;
}

.contact-btn-send {
  position: absolute;
  right: 0px;
}

.animalgo-intro {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0px;
  left: 60%;

}

.animalgo-intro > li {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 173px;
}

.animalgo-intro-text > div {
  padding-top: 40px;
}

#contact-info-logo {
  width: 180px;
  background-size: cover;
  background-position: 50% 50%;
}