@import 'main.less';
@import 'sub.less';
@import 'member-join.less';

@main-font-family: '나눔고딕';

.header-sub {
  size: 30px;
  padding-top: 15px;
  padding-left: 100px;
  width: 1500px;
}

.header-menu {
  /*border: solid 2px #54e4ff;*/
  font-size: 18px;
  padding: 20px;
  padding-left: 700px;
  cursor: pointer;
  font-family: @main-font-family;
}

.hc-id {
  padding-right: 15px;
  color: #51ffa5;
}

.header-main-menu {
  font-family: @main-font-family;
  display: inline-block;
  padding: 0px 30px;
}

.header-menu-submenu {
  font-family: @main-font-family;
  text-align: center;
  /*border: solid 2px #d0e8f6;*/
  padding: 8px;
  font-size: 28px;
  font-weight: bold;
}

/*.logo {
  padding-top: 10px;
  font-size: 20px;
  font-family: @main-font-family;
}*/

.member-list {
  padding-top: 5px;
  font-size: 18px;
  font-family: @main-font-family;
}

.member-title {
  font-family: @main-font-family;
  color: #bee5fd;
  font-weight: bold;
  font-size: 34px;
  padding-top: 14px;
}

.member-title-memo {
  font-family: @main-font-family;
  font-size: 15px;
  padding: 10px 0px;
}


#id-box {
  margin: 15px;
}

#login-input-icon1 {
  position: absolute;
  padding-top: 22px;
  padding-left: 20px;
}


#login-input-icon2 {
  position: absolute;
  padding-top: 9px;
  padding-left: 10px;
}

.login-placeholder-email {
  width: 220px;
  height: 30px;
  padding-left: 40px;
}

.login-placeholder-password {
  width: 220px;
  height: 30px;
  padding-left: 40px;
}

.member-form-group {
  padding: 10px 0px;
}

#login-icon {
  font-size: 70px;
  padding-left: 68px;
  color: #97e5fd;
  padding-bottom: 15px;
  padding-top: 50px;
}

#login-notice {
  font-family: @main-font-family;
  padding-bottom: 10px;
}

.member-btn {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  background-color: #d4e8e6;
  border-color: #c6e8e5;
  padding: 15px;
  margin: -45px 60px;
  position: absolute;
  border-radius: 5px;
}

.id-btn {
  margin-top: 20px;
  padding: 3px 15px;
  background-color: #d4e8e6;
  border-color: #c6e8e5;
  border-radius: 5px;
  font-family: @main-font-family;
  font-weight: bold;
}


.sign-in-form {
  padding: 30px 240px 50px;
  border-bottom: solid 1px #d4e8e6;
}



.member-note {
  font-family: @main-font-family;
  display: inline-block;
  padding-left: 120px;
  padding-right: 100px;
}

