@import 'common.less';
@import 'template/member-login';


.ac-tab-btns {
  z-index: 5000;
  display: inline-block;
  padding: 35px 10px 10px 0px;
  width: 400px;
  border-bottom: solid 1px #bccda8;
}

.id-btn-join {
  color: #1b0b18;
  /*margin-top: 20px;*/
  padding: 3px 5px;
  background-color: #e0f0c3;
  border-color: #d6f0c5;
  border-radius: 5px;
  font-weight: bold;
  /*margin: -80px 20px 0px 260px;*/
  min-width: 100px;
}

.join-kakao-btn {
  margin-top: 20px;
  padding: 3px 15px;
  background-color: #e0f0c3;
  border-color: #d6f0c5;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.join-facebook-btn {
  margin-top: 20px;
  padding: 3px 15px;
  background-color: #e0f0c3;
  border-color: #d6f0c5;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.join-kakao-talk {
  padding-top: 15px;
  padding-bottom: 20px;
}

.join-btns {
  padding: 40px 0px;
  /*color: #97e5fd;*/
}

#join-bt {
  padding: 10px 12px;
  color: #1b0b18;
  font-size: 15px;
  background-color: #e0f0c3;
  border: 5px;
}

.ac-tab-join-info > div {
  font-size: 14px;
  padding-bottom:000px;
}