@import 'common.less';

.showoff-story {
  width: 1020px;
  margin: 0px auto;
}

.story-tt {
  font-size: 24px;
  font-weight: bold;
  padding: 15px 0px 0px 10px;
  border-bottom: solid 1px #aaa;
}

.story-cont {
  padding: 20px;
  background-color: #CCCCCC;
}

.story-btn-cont {
  position: relative;
  padding: 20px;
}

.story-btns {
  position: absolute;
  right: 20px;
  top: 0;
}