@import 'common.less';
@import 'caferesult.less';

#search-location-name > input {
  width: 400px;
}

.clinic-list {
  padding-top: 5px;
  font-size: 18px;
}

.always-clinic {
  color: @object-bgcolor;
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
  padding: 40px 0px 25px 285px;
  margin: 0px 0px;
}

.vc-dropdown-toggle {
  display: inline-block;
  padding: 7px 30px 7px 30px;
  margin: 30px -12px 70px 40px;
}

.clinic-search {
  width: 500px;
  /*padding-top: 10px;*/
  display: inline-block;

}

.location-24 {
  padding: 250px 210px;
  background-color: #97e5fd;
  margin: 50px 30px 0px 0px;
  width: 400px;
}

.location-24-details {
  position: absolute;
  display: inline-block;
  padding: 150px 210px 0px 50px;
}

.input-group-addon {
  width: 40px;
}

.detail-24-clinic {
  font-size: 18px;
  margin-right: 20px;
  font-weight: bold;
  min-width: 240px; //거리뷰, 길찾기 버튼 위치 맞추기
  display: inline-block;
}

#clinic-button {
  font-size: 12px;
  font-weight: bold;
  border: solid 1px @object-bgcolor;
  background-color: @object-bgcolor;
  border-radius: 5px;
  padding: 2px 10px;
  color: #ffffff;
}

#clinic-button:hover {
  color: #000;
}

.load-search-24{
  margin-right: 80px;
}

.clinic-number {
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  display: inline-block;
}

.clinic-address {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 40px;
}
