@import 'common.less';

.clinic-info {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.clinic-form-search {
  size: 30px;
  padding-top: 15px;
  padding-left: 250px;
  width: 1000px;
}

.clinic-list {
  padding-top: 5px;
  font-size: 18px;
}

.always-clinic {
  color: #bee5fd;
  font-weight: bold;
  font-size: 24px;
  padding-left: 40px;
  padding-bottom: 25px;
  /*padding-top: 14px;*/
  display: inline-block;
}

.vc-dropdown-toggle {
  display: inline-block;
  padding: 7px 30px 7px 30px;
  margin: 30px -12px 70px 40px;
}

.input-group {
  display: inline-block;
  width: 1200px;
  padding: -30px 50px 50px 800px;
}

.clinic-search {
  width: 500px;
  /*padding-top: 10px;*/
  display: inline-block;

}

.input-group {
  position: absolute;
  padding: 32px 0px 20px 0px;
  display: inline-table;
  width: 380px;
  margin-left: 200px;

}

.sameness-style {
  position: absolute;
  background-color: #F3F5F6;
  margin-top: 25px;
  margin-left: -250px;
  height: 80px;
  top: 80px;
  /*padding: 30px 700px;*/
  width: 100%;
  z-index: -100;
}

.location-24 {
  padding: 250px 210px;
  background-color: #97e5fd;
  margin-top: 25px;
  width: 400px;
  display: inline-block;
}

.location-24-details {
  position: absolute;
  display: inline-block;
  padding: 85px 0px 0px 50px;
}

.input-group-addon {
  width: 40px;
}

.detail-24-clinic {
  font-size: 18px;
  margin-right: 50px;
  font-weight: bold;
}

#clinic-button {
  font-size: 12px;
  border: solid 1px #ffffff;
  border-radius: 5px;
  padding: 2px 10px;
}

.view-24 {
  margin-left: 30px;
}


.clinic-number {
  font-size: 14px;
  padding: 10px 40px 10px 20px;
  display: inline-block;
}

.clinic-address {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 40px;
}
