<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>애니멀고</title>
</head>
<body>
{{> template/header}}
<div class="header-sub">
    <div class="main-menu">
        <div class="header-menu-submenu">
            진료 안내
        </div>
        <div class="information-veterinary-clinic">
            <div class="member-list">
                Home > 병원찾기
            </div>
            <h2 class="member-title">
                잠실종합동물병원
            </h2>
            <div class="information-form">
                <img id="clinic-detail" src='img/clinic-details1.jpg'>
                <ul class="jamsil-info">
                    <li class="hauptanschluss">
                        대표번호 : 02-566-7588
                    </li>
                    <li class="address">
                        주    소 : 서울시 송파구 잠실동 649번지 성보빌딜 1층 주차는 병원 앞 1층과 지하 1층 전용 주차장
                    </li>
                    <li class="traffic-facilities">
                        대중교통안내
                        지하철 : 잠실역 2번 출구로 나온 후, 직진 3분 도보 나폴레옹 제과점 골목 위치
                    </li>
                </ul>
            </div>
        </div>
        <div class="medical-treatment">
            <div class="medical-info">진료시간 안내</div>
            <table class="table">
                <thead>
                    <tr class="table-th">
                        <th>요일</th>
                        <th>시간</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-td">
                        <td>응급 진료</td>
                        <td>오후 10시 ~ 익일 오전 9시</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr class="table-td">
                        <td>일요일 ~ 토요일</td>
                        <td>오전 9시 ~ 오후 10시</td>
                    </tr>
                </tbody>
            </table>
            <div class="info-notice">
                ※ 응급진료시간에는 <span class="charge-highlight"><strong>응급진료비가 청구</strong></span>되오니
                응급진료가 아닌 경우 일반 진료 시간에 내원하시기 바랍니다.
            </div>
        </div>
        <div class="pet-beauty-treatment">
            <div class="beauty-info">미용시간 안내</div>
            <table class="table">
                <thead>
                <tr class="table-th">
                    <th>요일</th>
                    <th>시간</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-id">
                    <td>일요일 ~ 토요일</td>
                    <td>오전 10시 ~ 오후 7시</td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td>미용실 예약 문의</td>
                    <td>02) 556-7833</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
{{> template/footer}}
</body>
</html>