<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>애니멀고</title>
</head>
<body>
{{> template/header}}
<div class="main-size">
    <div class="community showoff-go">
        자랑하기
    </div>
    <div class="community infoTip-go">
        팁과 정보공유
    </div>
</div>
{{> template/footer}}
</body>
</html>