<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>애니멀고</title>
</head>
<body>
{{> template/header}}
<div class="community">
    <div class="community-form">
        <div class="community-info">
            커뮤니티
        </div>
        <div class="community-form-info">
            <div class="community-list">
                Home > 커뮤니티
            </div>
            <div class="community-tab">

            </div>
        </div>
    </div>
</div>
{{> template/footer}}
</body>
</html>