<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>애니멀고</title>
</head>
<body>
{{> template/header}}
<div class="main-size">
    <div class="dark-layer">
        <div class="community showoff" id="showoff">
            자랑하기
            <br>
            <span>반려동물의 모습을 보여주세요</span>
        </div>
    </div>
    <div class="dark-layer">
        <div class="community infoTip" id="infoTip">
            팁과 정보공유
            <br>
            <span>내가 아는 반려동물의 고급 정보를 공유하세요</span>
        </div>
    </div>
</div>
{{> template/footer}}
</body>
</html>