<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>애니멀고</title>
</head>
<body>
{{> template/header }}
<section class="contact-animalgo">
    <div class="search-main">
        Contact US
    </div>
</section>
<section class="contact-input">
    <form class="contact-input-form">
        <div class="form-group">
            <label for="contact-input-info-name">Name</label>
            <input type="text" class="form-control" id="contact-input-info-name"  placeholder="이름을 입력해주세요">
        </div>
        <div class="form-group">
            <label for="contact-input-info-email">E-mail</label>
            <input type="email" class="form-control" id="contact-input-info-email"  placeholder="답변을 받으실 메일 주소를 입력하세요">
        </div>
        <div class="form-group">
            <label for="contact-input-info-title">Title</label>
            <input type="text" class="form-control" id="contact-input-info-title"  placeholder="제목">
        </div>
        <div class="form-group">
            <label for="contact-input-info-message">Message</label>
            <textarea type="text" class="form-control" id="contact-input-info-message" placeholder="내용을 입력해주세요"></textarea>
        </div>
        <div class="btn btn-success contact-btn-send">SEND</div>
    </form>
    <ul class="animalgo-intro">
        <li>
            <h2>애니멀고?</h2>
            <div>
                세상의 모든 반려동물들을 위한,<br>
                반려동물과 함께하는 반려인들을 위한<br>
                각종 정보 및 커뮤니티 제공 사이트
            </div>
        </li>
        <li id="contact-info-logo" style="background-image: url('./img/contact-logo.png')"></li>
    </ul>
</section>
{{> template/footer }}
</body>
</html>