<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>애니멀고</title>
</head>
<body>
<div class="foot-cont">
    <table class="foot-btn">
        <tr>
            <td></td>
            <td></td>
            <td colspan="2" align="center" valign="bottom"><img src='img/extra.png' width="130" height="160" /></td>
            <td colspan="2" align="center" valign="bottom"><img src='img/cumu.png' width="130" height="160"/></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td class="foot-s-btn" align="left" valign="top"><img src='img/login.png' width="100" height="123"/></td>
            <td colspan="4"></td>
            <td class="foot-s-btn" align="right" valign="top"><img src='img/signin.png' width="100" height="123"/></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td rowspan="5"></td>
            <td colspan="4" rowspan="6" align="center"><img src='img/how.png' width="348" height="247" /></td>
            <td rowspan="5"></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
</body>
</html>