<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>애니멀고</title>
</head>
<body>
<div class="main-size contackus" id="community">
    <img src='img/main.png' width="617px" height="728px">
</div>
</body>
</html>