<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>애니멀고</title>
</head>
<body>
{{> template/header}}
<section class="photo-line">
    <div class="photo-slide">
        예시
    </div>
</section>
<section class="main-size">
    <table class="infoTip-main">
        <thead class="infoTip-head">
            <tr>
                <td class="infoTip-head-no">No</td>
                <td class="infoTip-head-title">title</td>
                <td class="infoTip-head-writer">글쓴이</td>
                <td class="infoTip-head-date">날짜</td>
            </tr>
        </thead>
        <tbody class="infoTip-body">

        </tbody>
    </table>
</section>
{{> template/footer}}
</body>
</html>