<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>애니멀고</title>
</head>
<body>
{{> template/header}}
<div class="header-sub">
    <div class="main-menu">
<!--        <div class="header-menu-submenu">
            Join
        </div>-->
        <div class="member-form">
            <h2 class="member-title">
                JOIN AnimalGO
            </h2>
        </div>
        <div class="section-info">
            <div class="section-contents">
                <div class="ac-tab">
                    <div class="ac-tab-btns">
                        <button class="join-kakao-btn btn btn-primary">
                            kakao-talk
                        </button>
                        <button class="join-facebook-btn btn btn-primary">
                            facebook
                        </button>
                    </div>
                </div>
                <div class="ac-tab-contents">
                    <div class="active ac-tab-join-info">
                        <div class="join-kakao-talk active">
                            카카오톡을 통한 가입을 원하시면 본인인증 버튼을 눌러 animalGO의 회원가입을 진행해주세요.<br>
                            카카오톡 인증 또는 페이스북 인증을 통해 본인 확인을 하실 수 있습니다.
                        </div>
                        <br>
                        <div class="join-facebook">
                            페이스북 인증을 통한 가입을 원하시면 페이스북 인증 버튼을 눌러 animalGO의 회원가입을 진행해주세요.<br>
                            카카오톡 인증 또는 페이스북을 통해 본인 확인을 하실 수 있습니다.
                        </div>
                    </div>
                    <div class="join-btns">
                        <button id="join-bt" class="join-kakao-btn active id-btn-join">
                            kakao-talk로 회원 가입
                        </button>
                        <button id="join-bt" class="join-facebook-btn id-btn-join">
                            facebook으로 회원 가입
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> template/footer}}
</body>
</html>