<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>애니멀고</title>
</head>
<body>
{{> template/header }}
<section class="photo-line">
    <div class="photo-slide">
    </div>
</section>
<section class="pet-like main-size">
    <div class="pet-like-title">
        자랑하기
        <br><span>오늘의 내 반려 동물의 이야기</span>
    </div>
    <div class="showoff-story">

    </div>
    <div class="story-btn-cont">
        <div class="story-btns">
            <button class="btn btn-xs btn-primary">등록</button>
            <button class="btn btn-xs btn-default">수정</button>
            <button class="btn btn-xs btn-danger">삭제</button>
        </div>
    </div>
    <div class="stroy-prevnext"></div>
</section>
{{> template/footer }}
</body>
</html>