<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>애니멀고</title>
</head>
<body>
{{> template/header }}
<section class="photo-line">
    <div class="photo-slide">
        예시
    </div>
</section>
<section class="pet-like main-size">
    <div class="pet-like-title">
        자랑하기
        <br><span>오늘의 내 반려 동물의 이야기</span>
    </div>
    <div class="showoff-write">
        <table class="writer-info">
            <tr>
                <td class="writer-info-t">
                    <label for="showoff-writer">작성자</label></td>
                <td class="writer-info-tw">
                    <input type="text" id="showoff-writer" class="writer-name" placeholder="작성자 이름을 적어주세요" aria-describedby="basic-addon1">
                </td>
            </tr>
            <tr>
                <td class="writer-info-p">
                    <label for="showoff-pw">비밀번호</label></td>
                <td class="writer-info-pw">
                    <input type="password" id="showoff-pw" class="writer-name" placeholder="비밀번호를 등록해주세요" aria-describedby="basic-addon1">
                </td>
            </tr>
        </table>
        <table class="write-title">
            <tr>
                <td class="write-title-t">
                    <label for="showoff-title">제목</label></td>
                <td class="write-title-tw">
                    <input type="text" id="showoff-title" class="writer-name" placeholder="작성자 이름을 적어주세요" aria-describedby="basic-addon1">
                </td>
            </tr>
        </table>
        <div class="write-cont">
            <label for="showoff-cont">내용</label>
            <textarea id="showoff-cont" class="write-cont-story"></textarea>
        </div>
        <div class="file-form sm">
            <label for="showoff-img">파일선택</label>
            <input type="file" id="showoff-img" accept="image/*" multiple="multiple">
            <button for="showoff-img" class="file-select btn btn-default">파일선택</button>
            <ul class="showoff-photos"></ul>
        </div>
        <div class="write-btn">
            <button class="w-btn btn btn-xs btn-primary">등록</button>
            <button class="c-btn btn btn-xs btn-default">취소</button>
        </div>
    </div>
</section>
{{> template/footer }}
</body>
</html>