<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{> template/header }}
<section class="photo-line">
    <div class="photo-slide">
        예시
    </div>
</section>
<section class="pet-like main-size">
    <div class="pet-like-title">
        자랑하기
        <br><span>오늘의 내 반려 동물의 이야기</span>
    </div>
    <div class="showoff-story">
        <div class="story-tt">
            제목
        </div>
        <div class="story-cont">ㅇㅅㅇ</div>
        <div class="story-btn-cont">
            <div class="story-btns">
                <button></button>
                <button></button>
                <button></button>
            </div>
        </div>
        <div class="stroy-prevnext"></div>
    </div>
</section>
{{> template/footer }}
</body>
</html>