<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>애니멀고</title>
</head>
<body>
{{> template/header }}
    <section class="photo-line">
        <div class="photo-slide">
            예시
        </div>
    </section>
    <section class="pet-like main-size">
        <div class="pet-like-title">
            자랑하기
            <br><span>오늘의 내 반려 동물의 이야기</span>
        </div>
        <div class="pet-like-board">
            <ul class="pet-like-board-cont">
            </ul>
        </div>
    </section>
    <section class="pet-ect main-size">
        <div class="pet-ect-page">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="search-drop">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="dropdown-title">제목 + 내용</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>글쓴이</li>
                <li>제목</li>
            </ul>
            <div id="showoff-search" class="input-group">
                <input type="text" id="showoff-search-input" class="form-control" placeholder="검색어를 입력해주세요." aria-describedby="basic-addon1">
                <span class="showoff-search-addon" id="basic-addon1"><i class="fa fa-search fa-flip-horizontal"></i></span>
            </div>
            <div class="pet-ect-btn">
                <button class="showoff-write btn btn-sm btn-primary">글쓰기</button>
            </div>
        </div>
    </section>
{{> template/footer }}
</body>
</html>